.tabla-formulario-cont {
    width: 70%;
    min-height:200px;
    border: 1px solid green;
    margin: 0 auto;
    margin-inline: 50px;
    margin-bottom: 50px;
    background-color:darkgray;
    border-radius: 10px;

}
.principal-tabla-formulario-cont{
    width: 50%;
    margin-top: 10%;
    
}